* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
header {
  background-color: #f3fcf7;
  padding: 2rem 0;
}

.container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #06c167;
  font-weight: 400;
  font-size: xx-large;
}

.nav_bar {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

.nav_bar a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}
.nav_bar a:hover {
  color: #06c167;
}

/* Hero Section */
.hero {
  background-color: #f3fcf7;
  padding: 2rem 0;
  position: relative;
  overflow: visible;
}

.hero_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  height: 75vh;
  padding-top: 150px;
}

.hero_text {
  flex: 1;
  margin-top: -180px;
}

.hero_text h1 {
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero_text p {
  max-width: 400px;
  color: #555;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.btn {
  background-color: #06c167;
  color: #fff;
  border: none;
  padding: 1.5rem 2.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #51f5a6;
}

/* Hero Image */
.hero_image {
  position: relative;
  flex: 1;
}

.hero_image img {
  width: 85%;
  border-radius: 12px;
  position: relative;
  right: -50px; /* overflow effect */
}

/* Floating Tags */
.rating,
.badge,
.polcadot {
  position: absolute;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  font-size: 0.9rem;
}

.rating {
  bottom: 40%;
  left: -90px;
}

.badge {
  top: 35%;
  right: -10px;
}
.polcadot {
  bottom: -2%;
  right: -10px;
}

/* Logo Section */
.logos {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
  margin-left: 6rem;
  padding-bottom: 10rem;
}

/* Services */

.services .container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  border-top: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
  padding: 4rem 0;
}

.service {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.service_icon {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service_icon img {
  width: 70px;
}

.service_text h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #222;
}

.service_text p {
  color: #777;
  font-size: 0.9rem;
  margin-top: 2px;
}

/* Benefit Section */

.benefit {
  padding: 7rem 0;
  position: relative;
}

.benefit_container {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

/* Left side image */
.benefit_image_wrapper {
  position: relative;
  flex: 1;
}

.benefit_image_bg {
  background-color: #f3fafb;
  width: 100%;
  height: 90vh;
  position: relative;
  left: -30px;
  z-index: 1;
}
.benefit_image img {
  position: absolute;
  top: 0; /* aligns image to top */
  left: 25%; /* centers horizontally */
  transform: translateX(-25%); /* horizontal centering only */
  width: 80%;
  z-index: 2;
}

/* Right side text */
.benefit_text {
  flex: 1;
  position: relative;
}
.benefit_heading {
  font-size: 1 rem;
  color: #000000;
  margin-bottom: 1rem;
  font-weight: 600;
}

.polkadot {
  position: absolute;
  top: 50px;
  left: -50px;
  width: 174px;
}

.benefit_text h2 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: 1.3;
  position: relative;
}

.benefit_list {
  list-style: none;
  padding-top: 2rem;
}

.benefit_list li {
  font-size: 1rem;
  color: #444;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Stars Section */
.stars {
  padding: 5rem 0 10rem 0;
  position: relative;
}
.stars_container {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}
.stars_text {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}
.stars_heading {
  font-size: 1 rem;
  color: #000000;
  margin-bottom: 1rem;
  font-weight: 600;
}

.stars_polkadot {
  position: absolute;
  top: 40px;
  left: -50px;
  width: 174px;
}
.stars_num {
  padding: 3rem 0;
}

.stars_text h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: 1.3;
  position: relative;
}
.stars_num {
  display: flex;
  gap: 3rem;
}
.stars_text > h3 {
  color: #06c167;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
}
.stars_text_p {
  color: gray;
  text-align: center;
}
.stars_btn {
  background-color: #06c167;
  color: #fff;
  border: none;
  padding: 1.5rem 2.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  width: auto;
  display: inline-flex;
  align-self: start;
}

.stars_btn:hover {
  background-color: #51f5a6;
}
.stars_image_wrapper {
  position: relative;
  flex: 1;
}
.stars_image_bg {
  background-color: #f3fafb;
  width: 100%;
  height: 90vh;
  position: relative;
  left: -30px;
  z-index: 1;
}
.stars_image img {
  position: absolute;
  top: 0; /* aligns image to top */
  left: 14%; /* left horizontally */
  width: 80%;
  z-index: 2;
}

/* Features Area */
.features {
  padding: 3rem 0 5rem 0;
  text-align: center;
}

.features_sub {
  font-size: 0.9rem;
  color: black;
  margin-bottom: 0.5rem;
}

.features_title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.features_grid {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
  border: 1px solid #06c167;
}

.feature_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature_box {
  background: #f3fff7;
  border: 1px solid #06c167;
  padding: 2.5rem 2rem;
  text-align: center;
}

.feature_box h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.feature_box p {
  color: gray;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.feature_btn {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  background: #caffd8;
  padding: 0.7rem 1.3rem;
  color: #06c167;
  font-weight: 600;
  border-radius: 3px;
  text-decoration: none;
  font-size: 0.9rem;
}

/* Products Area */
.products {
  padding: 5rem 0 5rem 0;
  text-align: left;
  width: 85%;
  margin: 0 auto;
}

.products_sub {
  font-size: 0.9rem;
  color: black;
  margin-bottom: 0.5rem;
}

.products_title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.products_cards {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.products_card {
  border: 2px solid #e6e6e6;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.5rem;
}
.products_star {
  padding-bottom: 1rem;
  padding-top: 0.3rem;
}
.products_btn {
  background-color: #fff;
  padding: 1rem 2.5rem;
  border: 2px solid #06c167;
}
.products_btn a {
  text-decoration: none;
  color: #06c167;
}
.products_card:hover {
  border-color: #06c167;
}

/* Overlay Section */

.overlay_banner {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 5rem 0;
}

.overlay_image_wrapper {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.overlay_image_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay_feature {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.overlay_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 2;
}

.overlay_content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 1.3;
}

.overlay_btn {
  background-color: #00b35a;
  color: #fff;
  padding: 0.8rem 1.8rem;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  transition: all 0.3s ease;
}

.overlay_btn:hover {
  background-color: #00964b;
}

/* Footer Section */

.footer {
  background-color: #fff;
  padding: 2rem 0 2rem;
  font-family: "Poppins", sans-serif;
}

.footer_container {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 2rem;
}

.footer_col h2.footer_logo {
  color: #00b35a;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer_col h3 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #111;
}

.footer_col p {
  color: #555;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.footer_col ul {
  list-style: none;
  padding: 0;
}

.footer_col ul li {
  margin-bottom: 0.5rem;
}

.footer_col ul li a {
  text-decoration: none;
  color: #555;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.footer_col ul li a:hover {
  color: #00b35a;
}

.footer_socials a {
  display: inline-block;
  margin-right: 10px;
  color: #111;
  font-size: 1rem;
  transition: color 0.3s;
}

.footer_socials a:hover {
  color: #00b35a;
}

/* Subscribe box */
.footer_subscribe {
  display: flex;
  gap: 1rem;
}

.footer_subscribe input {
  flex: 1;
  padding: 0.7rem;
  border: none;
  background: #f3f3f3;
  outline: none;
}

.footer_subscribe button {
  background-color: #00b35a;
  color: #fff;
  border: none;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  transition: background 0.3s;
}

.footer_subscribe button:hover {
  background-color: #00964b;
}

/* Bottom copyright */
.footer_bottom {
  text-align: center;
  padding-top: 2rem;
  margin-top: 2rem;
}

.footer_bottom p {
  color: #555;
  font-size: 0.9rem;
}

/* Mobile (≤500px) */

@media (max-width: 500px) {
  /* HEADER */
  header .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
  }

  .logo {
    font-weight: 700;
    font-size: 1.8rem;
    color: #06c167;
  }

  .nav_bar {
    display: none;
  }

  /* HERO SECTION */
  .hero_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    padding-top: 0;
  }

  .hero_text {
    margin-top: 0;
  }

  .hero_text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .hero_text p {
    max-width: 90%;
    margin: 0 auto 1.5rem;
    color: #555;
  }

  .btn {
    padding: 1rem 2rem;
  }

  .hero_image {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .hero_image img {
    width: 90%;
    position: relative;
    right: 0;
    bottom: -70px;
    margin-top: -40px;
  }
  .logos {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
    font-weight: bold;
    padding-top: 5rem;
  }

  /* SERVICES SECTION */
  .services .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }

  .service {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .service_icon img {
    width: 60px;
  }

  /* BENEFIT SECTION */
  .benefit_container {
    flex-direction: column;
    width: 90%;
    flex-direction: column;
    text-align: center;
  }
  .benefit_image_wrapper {
    width: 100%;
    flex: none;
  }

  .benefit_image_bg {
    height: 40vh;
    height: auto;
  }

  .benefit_image img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    position: static; /* reset absolute position */
    width: 100%;
    height: auto;
    transform: none;
    display: block;
    margin: 0 auto;
  }

  .benefit_text {
    text-align: center;
    padding-left: 1rem;
  }
  .benefit_list {
    padding-left: 2rem;
  }
  .stars_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    flex-direction: column;
    text-align: center;
  }

  .stars_text {
    align-items: center;
  }

  .stars_image_wrapper {
    order: -1; /* If you want image to appear on top */
    width: 100%;
    flex: none;
  }
  .stars_image_bg {
    height: auto;
  }
  .stars_image img {
    position: static; /* reset absolute position */
    width: 100%;
    height: auto;
    transform: none;
    display: block;
    margin: 0 auto;
  }
  .stars_num {
    display: flex;
    flex-direction: column;
  }
  .stars_btn {
    align-self: center;
  }

  /* FEATURES GRID */
  .features_grid {
    grid-template-columns: 1fr;
  }

  /* PRODUCTS SECTION */
  .products_cards {
    flex-direction: column;
    align-items: center;
  }

  .products_card {
    width: 100%;
  }

  /* OVERLAY */
  .overlay_banner {
    width: 100%;
  }

  .overlay_content h2 {
    font-size: 1.5rem;
  }

  /* FOOTER */
  .footer_container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer_subscribe {
    flex-direction: column;
    align-items: center;
  }

  .footer_subscribe input {
    width: 100%;
  }

  .footer_socials {
    justify-content: center;
  }
}
